<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/dist/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <title>Register</title>
</head>
<body class="bg-dark">
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">
                        <i class="fa fa-home"></i>
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/api/user/messages/'+${session.id}}">
                        <i class="fa fa-envelope-o">
                            <span class="badge badge-danger">11</span>
                        </i>
                        Messages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/path/add/}">
                        <i class="fa fa-plus"></i>
                        Create Path
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user">
                        </i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" th:href="@{'/api/user/profile/'+${session.id}}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/api/user/logout}">Logout</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 bg-white fit-content my-shadow">
                <div class="create-path">
                    <i class="fa fa-filter"></i>
                    Filter
                </div>
                <hr>
                <form method="post" action="@{/api/home/filter}">
                    <div class="form-group">
                        <label for="startingPointFilter">Starting point</label>
                        <input type="text" class="form-control" id="startingPointFilter" placeholder="Starting point">
                    </div>
                    <div class="form-group">
                        <label for="destinationFilter">Destination</label>
                        <input type="text" class="form-control" id="destinationFilter" placeholder="Destination">
                    </div>
                    <div class="form-group">
                        <label for="dateinputFilter">Date</label>
                        <input type="datetime-local" class="form-control" id="dateinputFilter">
                    </div>
                    <div class="form-group">
                        <label for="countryinputFilter">Country</label>
                        <select class="form-control" id="countryinputFilter">
                            <option th:each="country_param : ${countries}" th:value="${country_param.id}" th:text="${country_param.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="paymentinputFilter">Payment</label>
                        <select class="form-control" id="paymentinputFilter">
                            <option th:each="payment_param : ${payments}" th:value="${payment_param.id}" th:text="${payment_param.name}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
                <br>
            </div>
            <div class="col-sm-8 offset-sm-1">
                <a th:if="${session.id != null}" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="no-underline bg-white my-shadow">
                    <div class="create-path bg-white my-shadow">
                        <i class="fa fa-plus"></i>
                        Create path
                    </div>
                </a>
                <div th:if="${session.id != null}" class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form method="post" th:action="@{/api/path/add}" th:object="${path}">
                            <div class="form-group">
                                <label for="startingPoint">Starting point</label>
                                <input type="text" class="form-control" id="startingPoint" placeholder="Starting point" th:field="*{startingPoint}" required>
                            </div>
                            <div class="form-group">
                                <label for="destination">Destination</label>
                                <input type="text" class="form-control" id="destination" placeholder="Destination" th:field="*{destination}" required>
                            </div>
                            <div class="form-group">
                                <label for="dateinput">Date</label>
                                <input type="datetime-local" class="form-control" id="dateinput" th:field="*{date}" required>
                            </div>
                            <div class="form-group">
                                <label for="countryinput">Country</label>
                                <select class="form-control" th:field="*{country}" id="countryinput">
                                    <option th:each="country_param : ${countries}" th:value="${country_param.id}" th:text="${country_param.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="paymentinput">Payment</label>
                                <select class="form-control" th:field="*{payment}" id="paymentinput">
                                    <option th:each="payment_param : ${payments}" th:value="${payment_param.id}" th:text="${payment_param.name}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </form>
                    </div>
                </div>
                <br th:if="${session.id != null}">
                <div th:each="path: ${paths}">
                    <div class="bg-white my-shadow">
                        <div class="row">
                            <div class="col-sm-4">
                                <span th:text="${path.userFirstName}"></span>
                                <a th:href="@{'/api/user/profile/' + ${path.userId}}"><img th:src="${path.senderLogo} == null ? @{/default.jpg} : @{'data:image/jpg;base64,'+${path.senderLogo}}" style="width: 75px; height: 75px;"/></a>
                                <!--<i class="fa fa-user"></i><a href="@{'/api/user/profile/'+${path.userId}}" th:text="${path.userFirstName}"></a>-->
                            </div>
                            <div class="col-sm-8">
                                <i class="fa fa-globe"></i><b>Starting point: </b><span th:text="${path.startingPoint}" /><br>
                                <i class="fa fa-globe"></i><b>Destination: </b><span th:text="${path.destination}" /><br>
                                <i class="fa fa-calendar"></i><b>Date: </b><span th:text="${#dates.format(path.departureDate, 'dd.MM.yyyy')}" /><br>
                                <i class="fa fa-clock-o"></i><b>Time: </b><span th:text="${#dates.format(path.departureTime, 'HH:mm')}" /><br>
                                <i class="fa fa-flag"></i><b>Country: </b> <span th:text="${path.countryName}" /><br>
                                <i class="fa fa-money"></i><b>Payment: </b><span th:text="${path.paymentName}" />
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>