<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/dist/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA25Efg6T34gQbx4iONpRfRiwgktdzsXGg&libraries=places&callback=initAutocomplete"
            async defer></script>
    <title>Register</title>
</head>
<body class="bg-dark">
<nav class="navbar fixed-top navbar-icon-top navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 2px solid #2b2b2b;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/api/user/messages/'+${session.id}}">
                    <i class="fa fa-envelope-o">
                        <span class="badge badge-danger">11</span>
                    </i>
                    Messages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/path/add/}">
                    <i class="fa fa-plus"></i>
                    Create Path
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user">
                    </i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" th:href="@{'/api/user/profile/'+${session.id}}">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/api/user/logout}">Logout</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="bg-white my-shadow">
                <!--<img src="https://t3.ftcdn.net/jpg/00/64/67/80/240_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg" style="width: 100%;"/>-->
                <img  th:src="${avatar} == null ? @{'https://t3.ftcdn.net/jpg/00/64/67/80/240_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg'} : @{'data:image/jpg;base64,'+${avatar}}" style="width: 100%;"/>
                <div th:if="${session.id == user.id}">
                    <form th:action="@{'/api/details/change/avatar/'+${session.id}}" enctype="multipart/form-data" method="post">
                        <input type="file" name="file" />
                        <input type="submit" value="Upload" />
                    </form>
                </div>
                <hr>
                <div class="data">
                    <i class="fa fa-user"></i>
                    <span th:text="${user.firstName +' '+ user.lastName}"></span>
                </div>
                <div class="data">
                    <i class="fa fa-envelope-o"></i>
                    <span th:text="${user.email}"></span>
                </div>
                <div class="data" th:if="${session.id != user.id and details.country != null}">
                    <i class="fa fa-globe"></i>
                    <span th:text="${details.country.name}"></span>
                </div>
                <div class="data" th:if="${session.id != user.id and details.city != null}">
                    <i class="fa fa-globe"></i>
                    <span th:text="${details.city}"></span>
                </div>
                <div class="data" th:if="${session.id != user.id and details.phoneNumber != null}">
                    <i class="fa fa-phone"></i>
                    <span th:text="${details.phoneNumber}"></span>
                </div>
                <form method="post" th:action="@{'/api/details/edit/'+${session.id}}" th:if="${session.id == user.id}" th:object="${detailsDTO}">
                    <br>
                    <div class="data">
                        <select th:field="*{country}">
                            <option th:if="${details.country == null}" th:value="${null}">Select country</option>
                            <option th:if="${details.country != null}" th:value="${detailsDTO.country}" th:text="${details.country.name}"></option>
                            <option th:each="country_param : ${countries}" th:value="${country_param.id}" th:text="${country_param.name}"></option>
                        </select>
                    </div>
                    <div class="data">
                        <i class="fa fa-globe"></i>
                        <input type="text" th:field="*{city}" placeholder="City" th:value="${details.city}" id="autocomlete_input" onFocus="geolocate()"/>
                    </div>
                    <br>
                    <div class="data">
                        <i class="fa fa-phone"></i>
                        <input type="text" th:field="*{phoneNumber}" placeholder="Phone number" th:value="${details.phoneNumber}" />
                    </div>
                    <br>
                    <div class="data">
                        <input type="submit" value="Update" />
                    </div>
                    <br>
                </form>
            </div>
            <br>
            <div class="bg-white my-shadow" th:object="${impressions}">
                <div class="create-path">
                    <i class="fa fa-book"></i>
                    Reviews
                </div>
                <hr>
                <span th:if="${#lists.isEmpty(impressions)}" style="padding: 10px;">User has no impressions</span>
                <div th:if="${session.id != null and session.id != user.id}">
                    <form th:action="'/api/impression/add/'+${user.id}+'/'+${session.id}" method="post" class="form-group">
                        <textarea name="impression"></textarea>
                        <input type="submit" />
                    </form>
                </div>
                <div th:each="impression: ${impressions}">
                    <div class="impression">
                        <div class="sender-information">
                            <a th:href="@{'/api/user/profile/'+${impression.senderId}}"><img  th:src="${impression.senderLogo} == null ? @{'https://t3.ftcdn.net/jpg/00/64/67/80/240_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg'} : @{'data:image/jpg;base64,'+${impression.senderLogo}}" style="width: 50px; height:50px"/></a>
                            <b th:text="${impression.senderFirstName} + ':'"></b>
                            <p th:utext="${impression.impression}"></p>
                        </div>
                    </div>
                    <hr>
                </div>
                <br>
            </div>
        </div>

        <!------------------------------------------------------------------->

        <div class="col-sm-8 offset-sm-1">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="no-underline bg-white my-shadow">
                <div class="create-path bg-white my-shadow">
                    <i class="fa fa-plus"></i>
                    Create path
                </div>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form method="post" th:action="@{/api/path/add}" th:object="${path}">
                        <div class="form-group">
                            <label for="startingPoint">Starting point</label>
                            <input type="text" class="form-control" id="startingPoint" placeholder="Starting point" th:field="*{startingPoint}">
                        </div>
                        <div class="form-group">
                            <label for="destination">Destination</label>
                            <input type="text" class="form-control" id="destination" placeholder="Destination" th:field="*{destination}">
                        </div>
                        <div class="form-group">
                            <label for="dateinput">Date</label>
                            <input type="datetime-local" class="form-control" id="dateinput" th:field="*{date}">
                        </div>
                        <!--<div class="form-group">
                            <label for="timeinput">Time</label>
                            <input type="time" class="form-control" id="timeinput" th:field="*{time}">
                        </div>-->
                        <div class="form-group">
                            <label for="countryinput">Country</label>
                            <select class="form-control" th:field="*{country}" id="countryinput">
                                <option th:each="country_param : ${countries}" th:value="${country_param.id}" th:text="${country_param.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="paymentinput">Payment</label>
                            <select class="form-control" th:field="*{payment}" id="paymentinput">
                                <option th:each="payment_param : ${payments}" th:value="${payment_param.id}" th:text="${payment_param.name}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                    <!--<form method="post" th:action="@{/api/user/ispis}" th:object="${path}">
                        <input type="text" placeholder="Starting point" th:field="*{startingPoint}"/><br />
                        <input type="text" placeholder="Destination" th:field="*{destination}"/><br />
                        <input type="date" placeholder="Date" th:field="*{date}"/><br />
                        <input type="time" placeholder="Date" th:field="*{time}"/><br />
                        <input type="submit">
                    </form>-->
                </div>
            </div>
            <br>
            <div class="bg-white my-shadow">
                <span th:text="${session.id}"></span>
            </div>
            <br>
            <div class="bg-white my-shadow">
                pokusaj
            </div>
            <br>
            <div class="bg-white my-shadow">
                pokusaj
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    var placeSearch, autocomplete;
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomlete_input'), {types: ['geocode']});

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['address_component']);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        console.log(place);
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>