<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h3 th:text="${message != null} ? ${message}"></h3>
    <!--<h3 th:text="${not session.isEmpty()} ? 'radi' + ${session.user.firstName} : 'Loguj se'"></h3>-->
    <div>
        <form action="/api/user/register" method="post">
            <input type="text" name="firstName" placeholder="First Name"/><br>
            <input type="text" name="lastName" placeholder="Last Name"/><br>
            <input type="email" name="email" placeholder="Email"/><br>
            <input type="password" name="password" placeholder="password"/><br>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>